# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
ENV/
env/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# pyenv
.python-version

# pipenv
Pipfile.lock

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# pyre
.pyre/

# profiling
.prof
.prof.json

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Logs
*.log

# Wheels
*.whl
