global
    stats socket ipv4@0.0.0.0:9999 level admin
    maxconn 2000
defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
frontend http_in
    bind *:80
    default_backend servidores_web
backend servidores_web
    balance roundrobin
    server lbas_node_0 lbas_node_0:8000 weight 100 check
    server lbas_node_2 lbas_node_2:8000 weight 0 check
    server lbas_node_3 lbas_node_3:8000 weight 0 check
    server lbas_node_4 lbas_node_4:8000 weight 0 check
    server lbas_node_5 lbas_node_5:8000 weight 0 check